interface={{ wlan0_interface }}
ssid={{ wifi_ssid }}
hw_mode=g
channel={{ wifi_channel }}
country_code={{ wifi_country_code }}
wpa=2
wpa_passphrase={{ wifi_password }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=CCMP
rsn_pairwise=CCMP
beacon_int=100
max_num_sta=16
ieee80211n=1